.rainbow-text{
    color:aqua;
    padding: 8px;
}

.white-link{
    color:aliceblue;
    padding:8px;
}

.white-link:active{
    color:azure;
}
.space{
    background-image: url(https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg);
    padding: 0%;
    margin: 0%;
}